*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    height: 50px;
    background-color: #213448;
    display: flex;
    color: white;
}

.left
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left > img
{
    height: 50px;
}

.center
{
    width: 50%;
    display: flex;
    justify-content: center;
}
.center > ul
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    
}

.center > ul > li
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    list-style: none;
}

.center a
{
    text-decoration: none;
    color: white;
}

.right
{
    width: 25%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

main
{
    width: 100vw;
    height: 600px;
    display: flex;
    background-color: #547792;
}

main > .left
{
    width: 80%;
}

main > .left > img
{
    height: 100%;  
    width: 100%;
    overflow: hidden;
}

main > .right
{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 40px;
    justify-content: center;
}

main > .right > #head
{
    width: 100%;
    font-size: 25px;
    line-height: 1.6;
    text-transform: capitalize;   
}

main > .right span
{
    font-weight: bold;
}

main button 
{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    background-color: green;
    border: none;
}

main button > a
{
    text-decoration: none;
    color: white;   
}

main > .right > #bottom
{
    color: green;
    font-size: 17px;
}

main > .right > #bottom  >span
{
    font-weight: bold;
}

.footer > ul
{
    background-color: #94B4C1;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.footer > ul > li
{
    list-style: none;

}

.endfotter
{
    height: 42px;
    background-color: #EAE0CF;
    display: flex;
}

.endfotter > .endfooterleft  
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 70%;
    padding-left: 30px;
}

.endfotter > .endfooterleft i
{
    color: black;
    font-size: 21px;
}

.endfotter > .right
{
    width: 30%;
}

@media (max-width: 1024px) {
    nav {
        height: auto;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .left {
        width: 30%;
    }

    .center {
        width: 50%;
    }

    .center > ul {
        gap: 20px;
    }

    .center > ul > li {
        font-size: 16px;
    }

    .right {
        width: 20%;
    }

    main {
        height: auto;
        flex-direction: column;
    }

    main > .left {
        width: 100%;
        height: 400px;
    }

    main > .right {
        width: 100%;
        padding: 30px;
        align-items: center;
        text-align: center;
    }

    main > .right > #head {
        font-size: 22px;
    }

    main button {
        width: 60%;
    }
}

/* Mobile devices (481px - 767px) */
@media (max-width: 767px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 10px;
    }

    .left {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .left > img {
        height: 40px;
    }

    .center {
        width: 100%;
        margin-bottom: 10px;
    }

    .center > ul {
        gap: 15px;
        flex-wrap: wrap;
    }

    .center > ul > li {
        font-size: 14px;
    }

    .right {
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }

    main {
        height: auto;
    }

    main > .left {
        height: 300px;
    }

    main > .right {
        padding: 20px;
        gap: 25px;
    }

    main > .right > #head {
        font-size: 20px;
    }

    main button {
        width: 70%;
        height: 40px;
        font-size: 16px;
    }

    main > .right > #bottom {
        font-size: 15px;
    }

    .footer > ul {
        flex-wrap: wrap;
        height: auto;
        padding: 15px 10px;
        gap: 10px;
    }

    .footer > ul > li {
        font-size: 14px;
    }

    .endfotter {
        flex-direction: column;
        height: 108px;
        /* background-color: black;    */
        padding: 15px;
        gap: 15px;
    }

    .endfotter > .endfooterleft {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }

    .endfotter > .endfooterleft i {
        font-size: 24px;
    }

    .endfotter > .right {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Small mobile devices (320px - 480px) */
@media (max-width: 480px) {
    .left h2 {
        font-size: 16px;
    }

    .center > ul {
        gap: 10px;
    }

    .center > ul > li {
        font-size: 12px;
    }

    main > .left {
        height: 250px;
    }

    main > .right > #head {
        font-size: 18px;
        line-height: 1.4;
    }

    main button {
        width: 80%;
        height: 35px;
        font-size: 14px;
    }

    main > .right > #bottom {
        font-size: 13px;
    }

    .footer > ul > li {
        font-size: 12px;
    }

    .endfotter > .endfooterleft {
        gap: 15px;
    }

    .endfotter > .endfooterleft i {
        font-size: 20px;
    }

    .endfotter > .right p {
        font-size: 12px;
    }
}

/* Extra small devices (below 320px) */
@media (max-width: 320px) {
    .left h2 {
        font-size: 14px;
    }

    .center > ul > li {
        font-size: 11px;
    }

    main > .left {
        height: 200px;
    }

    main > .right {
        padding: 15px;
        gap: 20px;
    }

    main > .right > #head {
        font-size: 16px;
    }

    main button {
        width: 90%;
        height: 32px;
        font-size: 12px;
    }

    .footer > ul {
        font-size: 11px;
    }
}
